
<html>
  <body>
      <div class="wrapper">
          <div class="login">
              <div class="Rectangle-3">
                  <div class="logo-align">
                      <img class="pmc-logo__image"/>    
                  </div>
                  <div class="align-center height-10">
                      <span class="Sign-In">Sign in</span>
                  </div> 
                  <div class="align-center height-10">
                      <span class="Sign-in-to-access-yo">Sign in to access your account</span>
                  </div> 
                  <div class="align-center height-81">
                      <div class="Rectangle-non position-rel height-70">
                          <span class="Email-or-Username position-ab position-ab-bottom">Email or Username</span>
                      </div>                      
                  </div> 
                  <div class="align-center">
                      <input type="text" class="Rectangle-8">
                  </div>                   
                  <div class="align-center height-10">
                      <div class="Rectangle-non position-rel">
                          <span class="Password position-ab position-ab-bottom">Password</span>
                      </div>                      
                  </div> 
                  <div class="align-center">
                      <input type="text" class="Rectangle-8">
                  </div> 
                  <div class="align-center margin-top-26">
                      <button class="Rectangle">
                          <span class="SIGN-IN-BTN">SIGN IN</span>
                      </button>
                  </div> 
              </div>
          </div>  
      </div>              
  </body>    
</html>