.wrapper{
    margin: auto; 
    height:auto;
    background-color: #f5f5f5;
}

.ANNOUNCEMENTS {
    width: 382.4px;
    height: 100px;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 300;
    line-height: 0.79;
    text-align: center;
    color: #383838;
    display: flex;
    align-items: center;
    text-align: center;
  }

.div-center{
    margin: auto;
}

.announcement-item{
    width: 861.8px;
    height: 118px;
    background-color: #ffffff;
    border: solid 1px #e8e8e8;
    display: flex;
    align-items: center;
}

.content-to-middle{
    margin: auto; 
    display: flex;
    align-items: center;
}

.content-to-middle-inner{
    margin: auto;
    text-align: center;
}

.text-left{
    text-align: left
}

.Combined-Shape {
    width: 41.7px;
    height: 41.7px;
    background-color: #f6bc25;
    float: right;
}

.text-center{
    text-align: center;
}

.announcement-post-time {
    width: 619.9px;
    height: 19px;
    font-family: DINRoundPro;
    font-size: 13px;
    line-height: 1.46;
    text-align: center;
    color: #bfbdbd;
  }

  .annoucement-text{
    width: 619.9px;
    height: 19px;
    font-family: DINRoundPro;
    font-size: 18px;
    line-height: 1.06;
    text-align: center;
    color: #383838;
  }