<div class="wrapper">
    <div class="content-to-middle">
        <div class="content-to-middle-inner">
            <div class="div-center ANNOUNCEMENTS">
                <span class="div-center">ANNOUNCEMENTS</span>                    
            </div>
            <div class="announcement-item">
                <div class="col-lg-10">
                    <div class="text-left">
                        <span class="annoucement-text">
                                We’ll be offering a brand new go-kart and burgers event on April 25. Be there!            
                        </span>
                    </div>
                    <div>
                        <span class="announcement-post-time">POSTED ON JUNE 7, 2017</span>
                    </div> 
                </div>
                <div class="col-lg-2">
                    <div class="Combined-Shape">

                    </div>
                </div>
            </div>
            <div class="announcement-item">
                <div class="col-lg-10">
                    <div class="text-left">
                        <span class="annoucement-text">
                                We’ll be offering a brand new go-kart and burgers event on April 25. Be there!            
                        </span>
                    </div>
                    <div>
                        <span class="announcement-post-time">POSTED ON JUNE 7, 2017</span>
                    </div> 
                </div>
                <div class="col-lg-2">
                    <div class="Combined-Shape">

                    </div>
                </div>
            </div>
            <div class="announcement-item">
                <div class="col-lg-10">
                    <div class="text-left">
                        <span class="annoucement-text">
                                We’ll be offering a brand new go-kart and burgers event on April 25. Be there!            
                        </span>
                    </div>
                    <div>
                        <span class="announcement-post-time">POSTED ON JUNE 7, 2017</span>
                    </div> 
                </div>
                <div class="col-lg-2">
                    <div class="Combined-Shape">

                    </div>
                </div>
            </div>
            <div class="announcement-item">
                <div class="col-lg-10">
                    <div class="text-left">
                        <span class="annoucement-text">
                                We’ll be offering a brand new go-kart and burgers event on April 25. Be there!            
                        </span>
                    </div>
                    <div>
                        <span class="announcement-post-time">POSTED ON JUNE 7, 2017</span>
                    </div> 
                </div>
                <div class="col-lg-2">
                    <div class="Combined-Shape">

                    </div>
                </div>
            </div>
        </div>       
    </div>    
</div>