<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header Rectangle-3">
      <div class="col-lg-8 height-100-percent">
          <a class="pmc-logo" routerLink="/">
            <img class="pmc-logo__image"/>        
          </a>
      </div>
      <div class="col-lg-4 height-100-percent set-to-middle">
          <ul class="nav navbar-nav navbar-right set-to-middle row">
              <li class="col-lg-6 set-to-middle"><a href="#" class="white-text set-to-middle"><span class="contact">CONTACT SUPPORT</span></a></li>
              <li class="col-lg-6 set-to-middle"><a href="#" class="white-text set-to-middle"><span class="logout-link LOG-OUT white-text">LOG OUT</span> </a></li>
          </ul>   
      </div>    
    </div>     
  </div>
  <div class="container-fluid navbar-container">
    <div class="navbar-header">
        <ul class="nav navbar-nav text-white-for-all">
            <li class="active"><a href="#">HOME</a></li>
            <li><a href="#">ANNOUNCEMENT</a></li>
            <li><a href="#">EVENT</a></li>
          </ul> 
    </div>      
  </div>
</nav> 
