<div class="wrapper">
    <div class="content-to-middle">
        <div class="content-to-middle-inner">
            <div class="div-center ANNOUNCEMENTS">
                <span class="div-center">ANNOUNCEMENTS</span>                    
            </div>
            <div class="announcement-item">
                <div class="col-lg-12">
                    <div class="Well-be-offering-a">
                        <span class="annoucement-text">
                            We’ll be offering a brand new go-kart and burgers event on April 25. Be there!
                        </span>
                    </div>
                    <div>
                        <span class="POSTED-ON-JUNE-7-20">POSTED ON JUNE 7, 2017</span>
                    </div> 
                    <div class="text-left margin-top-27">
                        <span class="annoucement-text">
                            A bit of a pre Biggar meet up, a chance to take your motor out for a run or just a chance to come along have a coffee and a chat. Bring your classic/bring your modern. 
                        </span>
                    </div>
                </div>                
            </div>
            <div class="div-center BACK-TO-ANNOUNCEMENT margin-top-27">
                <span class="div-center">BACK TO ANNOUNCEMENTS</span>                    
            </div>            
        </div>       
    </div>    
</div>